
.reveal h1 {
  font-size: 2em;
  color: orange;
}

.fa {
  color: orange;
}

.reveal strong {
  color: orange;
}

.text-left {
  text-align: left;
}

.reveal section img {
  border: none;
}

.reveal blockquote {
  border-left: 5px solid orange;
  padding-left: 25px;
}

.half {
  float: left;
  width: 50%;
}
